<div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
    <h1>Edytuj wpis</h1>
    <form (submit)="editLogBook()" class="d-flex flex-column justify-content-center align-items-center">
      <div class="mb-3">
        <label for="name" class="form-label">Rodzaj ryby:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="weight" class="form-label">Waga:</label>
        <input placeholder="[g]" type="number" class="form-control" id="weight" [(ngModel)]="weight" name="weight"  required>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Data:</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="date" name="date" required>
      </div>
      <button type="submit" class="btn btn-primary">Zaktualizuj wpis</button>
    </form>
  </div>
